.container{
    display: flex;
    color: var(--colorPrimaryBackground);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: var(--primary);
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
}

.bar{

    border-top: 2px solid black;
    width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    width: 100%;
}
.details h1{
    color: var(--title-rgb);
}

.screenshot_container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 20rem;
   margin: 1rem;
}

.screenshot_container img{
    object-fit:  cover;
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}

.view_button svg{
    height: 1.5rem;
}

.view_button {
    display: flex;
    align-items: center;
  
}

/* .view_button:hover{
    text-decoration: underline;
} */

.view_button {
    cursor: pointer;
    gap: 0.5rem;
    display: flex;
    position: relative;
}
  
.view_button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--titleBar);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.view_button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (width < 1900px){
    .screenshot_container{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 10rem;
       margin: 1rem;
    }
}