:root {
 
    --foreground-rgb: black;
    --title-rgb: black;
    --background-rgb: #dddddd;


    --primary:  #1C9CA3;
     /* hsl(245, 25%, 8%); */
    --secondary: #1c9ca3;
    /* // #e36d1c; */
    --colorPrimaryBackground: white;
    --titleBar: black;
    --contactBackground: #ccc;




}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --foreground-rgb: #8893b1;
    --title-rgb: #ccd7f7;
    --background-rgb: #0a192f;


    --primary:  #1C52A3;
     /* hsl(245, 25%, 8%); */
    --secondary: #f0bd59;
    /* // #e36d1c; */
    --colorPrimaryBackground: white;
    --titleBar: #FFD278;
    --contactBackground: #0a192c;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  position: relative;
}


body {
  /* color: rgb(var(--foreground-rgb)); */
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (width < 1900px){
  body{
    
  }
}
